<!--
    templateType: page
    isAvailableForNewContent: false
    label: Sample Editor Template
    pageName: {% if current_page_name %}{{ current_page_name }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "internal" %}
{% extends "_layouts/base.html" %}
{% from '_partials/global.html' import pagesLanguage, siteURL, imagesPath %}

{% block specialEntries %}
    {% set navType = "home" %}
{% endblock specialEntries %}

{% block title %}
    Page title
{% endblock title %}

{% block meta %}
    Page meta description
{% endblock meta %}

{% block body %}
    <!-- 1️⃣ Main -->
    <main class="summary--area-controller dnd-area" id="dnd-zone-01">

        <!-- 👋 CTA -->
        {% include "_modules/module__get_in_touch.html" %}

    </main>
{% endblock body %}
