<!--
    templateType: page
    isAvailableForNewContent: true
    label: About Me
    pageName: {% if current_page_name %}{{ current_page_name }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "internal" %}
{% extends "_layouts/base.html" %}
{% from '_partials/global.html' import pagesLanguage, siteURL, imagesPath %}
{% block specialEntries %}
{% set navType = "internal" %}
{% endblock specialEntries %}
{% block title %}

About Nicolas Mendes

{% endblock title %}
{% block meta %}

This is Nicolas Mendes portfolio. This page tells more about Nick and his interests, achievements, and past
experiences.

{% endblock meta %}
{% block body %}

<!-- 1️⃣ Main -->
<main>
    <!-- 💬 Main Title -->
    <section class="main--title about--area">
        <div class="images--gallery">
            <img src="{{ imagesPath }}Gallery-simple.webp" alt="Do I look cool?">
        </div>
        <div class="text--zone">
            <h1 class="main--title__text">
                Who I am.
            </h1>
            <p class="readable--area">
                I’m Nicolas Mendes - a multi-disciplinary product designer who’s delivered creative and
                engaging
                solutions across web design, Front-end Development, UI/UX design research and mobile
                applications. I'm more introvert than extrovert, I really have found an appreciation for
                working
                remotely but still connecting with lots of people daily. Yet, I still prefer “cameras off”
                most
                days so I can pace around the house - lol that works a lot to think about good solutions!
            </p>
            <img class="map-general" src="{{ imagesPath }}MAP.webp" alt="Map where I've worked." loading="lazy">
            <p class="readable--area">
                My work can be seen at Remotish Agency website, that I designed and managed part of this
                huge
                project with a great and professional team! Another good place to see my work is at Maker
                Mockup, the largest mockups e-commerce in Brazil, the whole site is developed and designed
                by me
                with great care, quality and functionality. I accumulated remote international experience
                through many projects in United States, Germany, Mexico and Brazil. I really appreciate
                flexible
                work and different challenges in a fast-paced, high tech environment.
            </p>
            <p class="readable--area">
                I love the process of building something new as well as finding and developing awesome
                people,
                be it my clients, employees, or networking relationships.
            <p class="readable--area">
                I also have Design graduation, Inbound marketing knowledge, Front-end development practical
                application and course, besides several Agile development courses and improvement courses in
                the
                areas of Design, Product Design, IT technologies, Remote Work Foundations and theirs
                convergence.
            </p>
            <p class="readable--area">
                If you are interested in the prototyping of any website, Design System or App, please
                contact
                me!
            </p>
            {# START STATIC FORM #}
            <form action="https://api.staticforms.xyz/submit" method="post">
                <!-- Replace with accesKey sent to your email -->
                <input type="hidden" name="accessKey" value="da30206b-af8d-4e79-8341-047e9d7e2918"> <!-- Required -->
                <input type="text" name="name" placeholder="Enter Your Name" required> <!-- Optional -->
                <input type="text" name="subject" placeholder="What is the subject?" required> <!-- Optional -->
                <input type="text" name="email" placeholder="Enter Your Email" required> <!-- Optional -->
                <textarea name="message" placeholder="How can I help you?" required></textarea> <!-- Optional -->
                <input type="hidden" name="redirectTo" value="{{ siteURL }}">
                <!-- Optional -->
                <input type="submit" value="Submit" class="button small-cta cultura-case-cta" />
            </form>

            <input type="text" name="honeypot" style="display: none;">
            {# END STATIC FORM #}
        </div>
    </section>
    <!-- 👋 CTA -->

    {% include "_modules/module__get_in_touch.html" %}

</main>
{% endblock body %}
