<!--
    templateType: page
    isAvailableForNewContent: true
    label: Privacy Policy
    pageName: {% if current_page_name %}{{ current_page_name }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "internal" %}
{% extends "_layouts/base.html" %}
{% from '_partials/global.html' import pagesLanguage, siteURL, imagesPath %}
{% block specialEntries %}
    {% set navType = "internal" %}
{% endblock specialEntries %}

{# [START] page info #}
{% set page = {"pageTitle": "Nick's Privacy Policy", "pageMeta": "This is Nicolas Mendes privacy policy page."} %}
{# [END] page info #}

{% block title %}
    {{ page.pageTitle }}
{% endblock title %}

{% block meta %}
    {{ page.pageMeta }}
{% endblock meta %}

{% block body %}
    <!-- 1️⃣ Main -->
    <main>
        <!-- 💬 Main Title -->
        <section class="main--title about--area">
            <div class="text--zone">
                <h1 class="main--title__text">PRIVACY POLICY</h1>
                <p class="readable--area quote-p-std">
                    This privacy policy applies to any HubSpot Application and HubSpot Marketplace Theme made by me.
                </p>
                <h2 class="readable--area">SUMMARY</h2>
                <p class="readable--area">
                    Nicolas Mendes operates nickdesign.netlify.app, capital-fox.com and filedn.com/lgvQNASoWi1QKeCbvFdVv8y/index.html which provides design and development services.
                    <br />
                    <br />
                    This page is used to inform website visitors regarding my policies with the collection, use, and disclosure of Personal Information if anyone decided to use my services on nickdesign.netlify.app, filedn.com/lgvQNASoWi1QKeCbvFdVv8y/index.html or any related subdomain.
                    <br />
                    <br />
                    If you choose to use my services, then you agree to the collection and use of information in relation to this policy. The Personal Information we collect is used for providing and improving my services. I will not use or share your information with anyone except as described in this Privacy Policy.
                </p>
                <h3 class="readable--area">INFORMATION COLLECTION AND USE</h3>
                <p class="readable--area">
                    For a better experience while using my services, I may require you to provide to me with certain personally identifiable information, including but not limited to your name, phone number, and postal address. The information that I collect will be used to contact or identify you.
                </p>
                <h3 class="readable--area">BLOG AND NEWSLETTER SUBSCRIPTIONS</h3>
                <p class="readable--area">
                    On my website, you may subscribe to my blog or related content, and once you are in my database I may send a monthly newsletter out to all my contacts, both of which contain tracking pixels. The pixel is embedded in emails and allows an analysis of the success of online marketing campaigns. Because of these tracking pixels, I may see if and when you open an email and which links within the email you click. Also, this allows the website to adapt the content of future blogs and newsletters to the interests of the user. This behavior will not be passed on to third parties.
                </p>
                <h3 class="readable--area">LOG DATA</h3>
                <p class="readable--area">
                    I want to inform you that whenever you visit my website, I collect information that your browser sends to me that is called Log Data. This Log Data may include information such as your computer's Internet Protocol (“IP”) address, browser version, pages of my website that you visit, the time and date of your visit, the time spent on those pages, and other statistics.
                </p>
                <h3 class="readable--area">COOKIES</h3>
                <p class="readable--area">
                    Cookies are files with a small amount of data that is commonly used an anonymous unique identifier. These are sent to your browser from the website that you visit and are stored on your computer's hard drive.
                    <br />
                    <br />
                    My website uses these “cookies” to collect information and to improve my services. You have the option to either accept or refuse these cookies, and know when a cookie is being sent to your computer. If you choose to refuse my cookies, you may not be able to use some portions of my services.
                </p>
                <h3 class="readable--area">SERVICE PROVIDERS</h3>
                <p class="readable--area">I may employ third-party companies and individuals due to the following reasons:</p>

                <ul class="readable--area">
                    <li>To facilitate my services;</li>
                    <li>To provide services on my behalf;</li>
                    <li>To perform service-related services; or</li>
                    <li>To assist in analyzing how my services are</li>
                    used.
                </ul>

                <p class="readable--area">
                    I want to inform my users that these third parties have access to your Personal Information. The reason is to perform the tasks assigned to them on my behalf. However, they are obligated not to disclose or use the information for any other purpose.
                </p>
                <h3 class="readable--area">SECURITY</h3>
                <p class="readable--area">
                    I value your trust in providing me with your Personal Information, thus I'm striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the Internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.
                </p>
                <h3 class="readable--area">LINKS TO OTHER SITES</h3>
                <p class="readable--area">
                    My website may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by me. Therefore, I strongly advise you to review the Privacy Policy of these websites. I have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.
                </p>
                <h3 class="readable--area">CHILDREN'S PRIVACY</h3>
                <p class="readable--area">
                    My services do not address anyone under the age of 18. I do not knowingly collect personal identifiable information from children under 18. In the case I discover that a child under 18 has provided me with personal information, I immediately delete this from my servers. If you are a parent or guardian and you are aware that your child has provided me with personal information, please contact me so that I will be able to take the necessary actions.
                </p>
                <h3 class="readable--area">CHANGES TO THIS PRIVACY POLICY</h3>
                <p class="readable--area">
                    I may update my Privacy Policy from time to time. Thus, I advise you to review this page periodically for any changes. I will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.
                </p>
                <h3 class="readable--area">CONTACT ME</h3>
                <p class="readable--area">
                    If you have any questions or suggestions about my Privacy Policy, do not hesitate to contact.
                </p>
                <h2 class="readable--area">AI USAGE POLICY</h2>
                <p class="readable--area">
                    I'm ready to embrace the future, always! I crafted a unique AI usage policy that mirrors my commitment to responsibility, ethics, and transparency in the digital space.
                    <br />
                    <br />
                    This policy is laser-focused on safeguarding privacy, fortifying data security, and promoting fairness. I'm dedicated in providing a secure and reliable AI experience for my clients and users, achieved through vigilant monitoring,  testing, and adherence to industry standards.
                    <br />
                    <br />
                    But let's be clear - this policy isn't about putting up barriers. It's about fostering creativity and innovation while ensuring my AI usage aligns with my brand values and respects the customers' rights. I'm all about moving forward responsibly.
                </p>
                <h3 class="readable--area">GUIDELINES FOR RESPONSIBLE AI USAGE</h3>
                <p class="readable--area">
                    I believe in the power of authenticity and clear communication. I'm committed to ensuring you're always in the know about how I use AI technology.
                    <br />
                    <br />
                    Whether it's used to craft or tweak content, I make it a point to keep you informed. This could be through an overarching disclosure on my website or seamlessly incorporated into client agreements.
                    <br />
                    <br />
                    I see AI as my trusty sidekick in the content development arena. It plays an important role in my processes, helping me to keep transparency, accountability, top-notch quality, and privacy while avoiding biases.
                    <br />
                    <br />
                    My pledge to ethical marketing practices and rigorous data security is unwavering. However, it's important to note that my AI assistant doesn't take over the show. It's here to assist, not to run the entire operation.
                    <br />
                    <br />
                    Every piece of content I create is shaped and scrutinized by real people who understand my audience and the limitations of AI. Because, ultimately, I believe in the human touch, which sets us apart and keeps us grounded.
                </p>
                <h3 class="readable--area">TOOL SELECTION</h3>
                <p class="readable--area">
                    Below, you’ll find a carefully selected list of AI tools known for their exceptional performance and their role in boosting my workflow and creativity.
                    <br />
                    <br />
                    It's important to note that while not all these tools are primarily AI-focused, they incorporate AI features which we effectively utilize for both my internal needs and client projects.
                    <br />
                    <br />
                    Remember, adhering to this list is key for maintaining a secure and efficient digital workspace. Using any AI tools not on this list for company devices or tasks is not allowed without written approval from my security processes. This isn't about distrust; it's about ensuring my digital ecosystem is orderly and secure.
                    <br />
                    <br />
                    Let's make the most of these elite AI tools, operating within this carefully constructed framework.
                    <br />
                    <br />
                    These tools include:
                </p>
                <ul class="readable--area">
                    <li>Jasper.AI</li>
                    <li>ChatGPT</li>
                    <li>HubSpot</li>
                    <li>Grammarly</li>
                    <li>Dall-e</li>
                    <li>Llama</li>
                    <li>Phi-2</li>
                    <li>Mixtral models</li>
                    <li>Co-Pilot (GitHub)</li>
                </ul>
                <h3 class="readable--area">USE CASES THAT SHOULD NOT LEVERAGE AI</h3>
                <p class="readable--area">
                    As we embrace the evolving world of AI in our industry, it's important to recognize that while AI offers numerous advantages, there are certain areas where its use is not appropriate for our standards and goals.
                    <br />
                    <br />
                    I have identified specific scenarios where the use of AI is restricted. Please refrain from employing AI tools in the following contexts:
                    <br />
                    <br />
                    These tools include:
                </p>
                <ul class="readable--area">
                    <li>Automated Content Creation without Disclosure</li>
                    <li>User Data Privacy Violations</li>
                    <li>Manipulative UX Designs</li>
                    <li>Deepfakes and Misrepresentation in Marketing</li>
                    <li>Unethical SEO Practices</li>
                    <li>Non-Consensual Personalization</li>
                    <li>Misleading Chatbots</li>
                    <li>Automated Decision-Making in Client Projects</li>
                    <li>AI-Generated Fake Reviews or Testimonials</li>
                    <li>Copycat Content or Designs</li>
                </ul>
                <h3 class="readable--area">ADDRESSING SPECIFIC ISSUES</h3>
                <p class="readable--area">
                    AI systems, as powerful as they are, are only as good as the data they're trained on. This means they can inadvertently reflect biases present in their training material.
                    <br />
                    <br />
                    While many language models employ filters to minimize bias and harmful outputs, my responsibility goes further. I'm committed to ensuring that the content I produce is not only bias-free but also inclusive and accessible to all.
                    <br />
                    <br />
                    The privacy of my customers is my top priority. I adhere strictly to my list of approved AI tools, each selected for their robust privacy policies. Customer data must never be input into AI tools or Large Language Models (LLMs) not on this list.
                    <br />
                    <br />
                    Similarly, I'm vigilant about protecting my own intellectual property. By sticking to these approved tools, I safeguard both my customers' privacy and my intellectual assets, ensuring they're not inadvertently used to train publicly accessible models.
                    <br />
                    <br />
                    AI systems, for all their benefits, can be vulnerable to cyber threats.
                    <br />
                    <br />
                    Please ensure you're only using AI tools from my approved list. If you're considering any additional tools for use on company devices, these must be discussed and cleared with my security processes first.
                    <br />
                    <br />
                    In my use of AI, I steer clear of any content that could mislead or manipulate my customers.
                    <br />
                    <br />
                    All AI-generated content is aligned with my brand values and undergoes a thorough review process. This helps me check for any bias, inaccuracies, or other potential risks, ensuring my content remains ethical and trustworthy.
                    <br />
                    <br />
                    I uphold a firm policy against using AI to impersonate any individual without their explicit consent. My ethical stance extends to how I handle content inspired by public figures.
                    <br />
                    <br />
                    While AI offers the ability to create content "in the style" of such figures, I exercise caution and transparency. If ever I choose to use this capability, it will be explicitly stated and done with the utmost respect for the individual's persona.
                </p>
                <h3 class="readable--area">ACCEPTANCE</h3>
                <p class="readable--area">
                    In choosing to incorporate AI into your work at my website, email or any communication related to me, you are agreeing to adhere to this policy.
                    <br />
                    <br />
                    It's important to understand that non-compliance is a serious matter and may result in disciplinary measures, up to and including termination of employment and project.
                    <br />
                    <br />
                    Keep in mind, the essence of this policy is not to curtail creativity but to guarantee that my use of AI is both responsible and ethical.
                    <br />
                    <br />
                    Adhering to these guidelines allows me to fully harness the benefits of AI, while simultaneously respecting my customers and staying true to the core values that define my brand
                    <br />
                    <br />
                    By working within these parameters, I continue to foster a culture of innovation and integrity.
                </p>
                <h3 class="readable--area">RAW RISK FACTOR</h3>
                <p class="readable--area">
                    Some AI/Neural/ML tools can be considered “High risk”, which refers to an AI system that is used as a safety component of a product or an AI product that is covered by the EU AI Act. A list of areas where AI systems may be deemed “high risk” can be found here: https://artificialintelligenceact.eu/annex/3/
                </p>
            </div>
        </section>
    </main>
{% endblock body %}
