# CMS and Build assets
venv/
./venv/
# Possible garbage left by build script or CMS
# _*
# @src/
# @cms/
# *@*
# __*
logs/
*.log
logs.log
log.log
@src/Resouces/logs
@src/Resouces/logs/*
# MacOS directory metadata
.DS_Store
.DS*
./.DS_Store
.history/
node_modules/
