<!--
    templateType: global_partial
    isAvailableForNewContent: false
    label: Website header
    pageName: {% if current_page_name %}{{ current_page_name }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
<!-- 🤡 Header -->
<!-- PROTO-CMS PANEL -->

{% if pagesLanguage == "en" %}
    {% set workText = "Work." %}
    {% set aboutMeText = "About." %}
    {% set goBackText = "Go back" %}
{% else %}
    {% set workText = "Projetos." %}
    {% set aboutMeText = "Sobre." %}
    {% set goBackText = "Voltar" %}
{% endif %}

{# Header Sticky Script #}
{% block require_js %}
    <script defer>
document.addEventListener("DOMContentLoaded", function() {
    var header = document.querySelector("header");
    var sticky = header.offsetTop;

    window.onscroll = function() {
        if (window.pageYOffset > sticky) {
            header.classList.add("stickyHeader");
        } else {
            header.classList.remove("stickyHeader");
        }
    };

    var menuButton = document.querySelector('.menu-button');
    var mobileMenu = document.querySelector('.mobile-menu');
    menuButton.addEventListener('click', function() {
        mobileMenu.classList.toggle('open');
    });
});
    </script>
{% endblock require_js %}

{# PAGE DETECTION #}
{% set darkMode = "header-force dark-back-inv" %}

{% if current_page_name == "case-studies/case-study-hubspot-to-teamwork-integration.html" or caseStudyIdentifierS == 'HubSpot to Teamwork Integration' or caseStudyName == "CRM Teamwork" %}
    {% set specificChangeFactor = "header-force crm-tone-area" %}
    {% set stdHeaderStyles = "" %}
{% elif current_page_name == "case-studies/case-study-cultura.html" or caseStudyIdentifierS == 'Cultura App' or caseStudyName == "Cultura App" %}
    {% set specificChangeFactor = darkMode %}
    {% set stdHeaderStyles = "" %}
{% else %}
    {% set specificChangeFactor = "" %}
    {% set stdHeaderStyles = "header-force " %}
{% endif %}

{% if specificChangeFactor == darkMode %}
    {% set headerCTAIMG = "LinkedInVectorDark.svg" %}
{% else %}
    {% set headerCTAIMG = "LinkedInVector.svg" %}
{% endif %}

{% if navType == "home" %}

    <header class="std-home-default-fallback">
        <div class="main--logo">
            <a href="/" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}logoNick.svg"
                     alt="Personal logo and branding"
                     width="164"
                     height="34" />
            </a>
        </div>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="profile--picture">
            <a href="/#professional-projects" class="navMenuStd">
                <p>{{ workText }}</p>
            </a>

            <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
                <p>{{ aboutMeText }}</p>
            </a>

            <a href="{{ marketplaceLink }}" class="navMenuStd">
                <p>Marketplace.</p>
            </a>

            <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
                <p>Blog.</p>
            </a>
        </div>
        <div class="logoBranding">
            <a href="/" target="_blank" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}Logo.svg"
                     alt="Personal logo and branding"
                     width="199"
                     height="89" />
            </a>
        </div>
        <div class="social-higlight">
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
        <div class="mobile-menu">
            <a href="/#professional-projects" class="navMenuStd">
                <p>{{ workText }}</p>
            </a>
            <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
                <p>{{ aboutMeText }}</p>
            </a>
            <a href="{{ marketplaceLink }}" class="navMenuStd">
                <p>Marketplace.</p>
            </a>
            <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
                <p>Blog.</p>
            </a>
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
    </header>

{% elif navType == "internal" %}

    <!-- 🤡 Header -->
    <header class="{{ stdHeaderStyles }} {{ specificChangeFactor }} std-home-default-fallback">
        <div class="main--logo">
            <a href="/" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}logoNick.svg"
                     alt="Personal logo and branding"
                     width="164"
                     height="34"
                     class="logo__light_normal" />
                <img src="{{ imagesPath }}logoDarkCapitalFox.svg"
                     alt="Personal logo and branding"
                     width="164"
                     height="34"
                     class="logo__dark_normal" />
            </a>
        </div>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logoBranding">
            <a href="/" target="_blank" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}Logo.svg"
                     alt="Personal logo and branding"
                     width="199"
                     height="89" />
            </a>
        </div>
        <div class="profile--picture">
            <a href="/#professional-projects" class="navMenuStd">
                <p>{{ workText }}</p>
            </a>

            <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
                <p>{{ aboutMeText }}</p>
            </a>

            <a href="{{ marketplaceLink }}" class="navMenuStd">
                <p>Marketplace.</p>
            </a>

            <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
                <p>Blog.</p>
            </a>
        </div>
        <div class="social-higlight">
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
        <div class="mobile-menu">
            <a href="/#professional-projects" class="navMenuStd">
                <p>{{ workText }}</p>
            </a>
            <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
                <p>{{ aboutMeText }}</p>
            </a>
            <a href="{{ marketplaceLink }}" class="navMenuStd">
                <p>Marketplace.</p>
            </a>
            <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
                <p>Blog.</p>
            </a>
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
    </header>

{% elif navType == "blog-index" %}

    <header class="std-home-default-fallback">
        <div class="main--logo">
            <a href="/" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}logoNick.svg"
                     alt="Personal logo and branding"
                     width="164"
                     height="34" />
            </a>
        </div>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logoBranding">
            <a href="/" target="_blank" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}Logo.svg"
                     alt="Personal logo and branding"
                     width="199"
                     height="89" />
            </a>
        </div>
        <div class="social-higlight">
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
        <div class="mobile-menu">
            <a href="/#professional-projects" class="navMenuStd">
                <p>{{ workText }}</p>
            </a>
            <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
                <p>{{ aboutMeText }}</p>
            </a>
            <a href="{{ marketplaceLink }}" class="navMenuStd">
                <p>Marketplace.</p>
            </a>
            <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
                <p>Blog.</p>
            </a>
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
    </header>

{% elif navType == "blog-article" %}

    <header class="std-home-default-fallback">
        <div class="main--logo">
            <a href="/" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}logoNick.svg"
                     alt="Personal logo and branding"
                     width="164"
                     height="34" />
            </a>
        </div>
        <div class="menu-button">
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="logoBranding">
            <a href="/" target="_blank" rel="author" title="Nicolas Mendes brand">
                <img src="{{ imagesPath }}Logo.svg"
                     alt="Personal logo and branding"
                     width="199"
                     height="89" />
            </a>
        </div>
        <div class="social-higlight">
            <a href="{{ linkedinLink }}"
               target="_blank"
               rel="author"
               title="Connect with Nick on LinkedIn">
                {% if specificChangeFactor == darkMode %}
                    <img src="{{ imagesPath }}LinkedInVector.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaLightImg" />
                    <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50"
                         class="ctaDarkImg" />
                {% else %}
                    <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                         alt="My personal LinkedIn."
                         width="50"
                         height="50" />
                {% endif %}
            </a>
        </div>
    </header>
    <div class="{{ stdHeaderStyles }} {{ specificChangeFactor }} blog_article_back_area">
        <div class="profile--picture goback--event">
            <a href="{{ localDirectPath }}blog.html">
                <img class="goback-button"
                     src="{{ imagesPath }}BACK.svg"
                     alt="{{ goBackText }} button" />
                <p>{{ goBackText }}</p>
            </a>
        </div>
    </div>
    <div class="mobile-menu">
        <a href="/#professional-projects" class="navMenuStd">
            <p>{{ workText }}</p>
        </a>
        <a href="{{ localDirectPath }}aboutme.html" class="navMenuStd">
            <p>{{ aboutMeText }}</p>
        </a>
        <a href="{{ marketplaceLink }}" class="navMenuStd">
            <p>Marketplace.</p>
        </a>
        <a href="{{ localDirectPath }}blog.html" class="navMenuStd">
            <p>Blog.</p>
        </a>
        <a href="{{ linkedinLink }}"
           target="_blank"
           rel="author"
           title="Connect with Nick on LinkedIn">
            {% if specificChangeFactor == darkMode %}
                <img src="{{ imagesPath }}LinkedInVector.svg"
                     alt="My personal LinkedIn."
                     width="50"
                     height="50"
                     class="ctaLightImg" />
                <img src="{{ imagesPath }}LinkedInVectorDark.svg"
                     alt="My personal LinkedIn."
                     width="50"
                     height="50"
                     class="ctaDarkImg" />
            {% else %}
                <img src="{{ imagesPath }}{{ headerCTAIMG }}"
                     alt="My personal LinkedIn."
                     width="50"
                     height="50" />
            {% endif %}
        </a>
    </div>

{% elif navType == "none" %}
{% endif %}
