<!--
    templateType: page
    isAvailableForNewContent: true
    label: Case Study Individual
    pageName: {% if current_page_namee or caseStudyIdentifierS %}{{ current_page_name }}{{ caseStudyIdentifierS }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "internal" %}
{% set isCaseStudy = true %}
{% set caseStudyName = "CRM Teamwork" %}
{% set internalDirectory = true %}
{% extends "_layouts/base.html" %}
{% from '_partials/global.html' import pagesLanguage, imagesPath, localDirectPath %}
{% block title %}

    HubSpot to Teamwork app | Case Study

{% endblock title %}
{% block meta %}

    HubSpot to Teamwork integration, is a dynamic micro-SaaS that seamlessly integrates your HubSpot's portal CRM with your
    current Teamwork account flow. Our unique platform empowers you to convert your CRM objects into actionable tasks in
    Teamwork, all directly from the HubSpot panel.

{% endblock meta %}
{% block body %}
    {% set caseStudyIdentifier = "HubSpot to Teamwork Integration" %}

    {#{% block require_alt_header %}
<!-- 🤡 Header -->
<header class="header-force crm-tone-area case--study-hero-internal">
    <div class="profile--picture goback--event">
        <a href="{{localDirectPath}}index.html">
            <img class="goback-button" src="{{imagesPath}}BACK.svg" alt="Go back button" loading="lazy">

            <p>Go back</p>
        </a>
    </div>
</header>
{% endblock %} #}
    <!-- 1️⃣ Main -->
    <main class="clean-all mobile-handler">
        <!-- 💬 Main Title -->
        <section class="main--title case--area hero-img-fix crm-tone-area case--study-hero-internal">
            <div class="text--zone initial-case center-it center-section">
                <h1 class="main--title__text md-title">
                    The Power of <span class="crm-gradient">HubSpot &
                Teamwork</span>
            </h1>
            <p class="readable--area">
                HubSpot to Teamwork integration, is a dynamic micro-SaaS that seamlessly integrates your
                HubSpot's portal CRM
                with your current Teamwork account flow. Our unique platform empowers you to convert your CRM
                objects - contacts, deals,
                or companies - into actionable tasks in Teamwork, all directly from the HubSpot panel.
            </p>
            <p class="readable--area omission--info--light">
                To comply with my non-disclosure agreement with Remotish Agency, I have omitted and obfuscated
                confidential information in this case study.
            </p>
        </div>
        <div>
            <img src="{{ imagesPath }}BG-crm-card.webp"
                 alt="Final Micro-saas presentation" />
        </div>
        <!-- START QUOTE MODULE -->
        <!-- START MODULE FIELDS PANEL -->

        {% set quotationMarks = false %}
        {% set enableDecorator = true %}
        {% set decoratorColor = "#FF6E4D" %}
        {% set quote = "Connecting Teams, Streamlining Success. From Contact to Task, Effortlessly." %}

        <!-- END MODULE FIELDS PANEL -->

        {% include "_modules/module__quote.html" %}

        <!-- END QUOTE MODULE -->
    </section>

    <!-- START SUMMARY MODULE -->
    <!-- START MODULE FIELDS PANEL -->
    {# Left Panel #}
    {% set intro_summary = "Professionals striving to harmonize their sales and project management endeavors need a method to bridge their CRM and task management tools. This ensures they can efficiently turn potential leads into actionable steps. With our HubSpot to Teamwork integration, we offer a dynamic solution that effortlessly merges your HubSpot's CRM with your Teamwork flow. Experience the power of transforming your CRM objects - be it contacts, deals, or companies - into prioritized tasks in Teamwork, all without leaving the HubSpot interface." %}

    {% set quote_summary = "How might we design an app that seamlessly bridges HubSpot CRM with Teamwork, enhancing <span class=\"quote-highlight\">workflow</span>  and user <span class=\"quote-highlight\">efficiency</span>?" %}

    {# Right Panel #}
    {% set role_summary = "UX & Product Designer" %}
    {% set scope_summary = "6 weeks" %}
    {% set process_summary = "Quick research, interviews, competitive analysis, ideation, prototyping, testing, evaluation" %}
    {% set tools_summary = "Figma, Miro, HubSpot CMS, HubSpot CRM, ChatGPT, VSCode, Adobe Photoshop" %}
    <!-- END MODULE FIELDS PANEL -->
    {% include "_modules/module__summary.html" %}
    <!-- END SUMMARY MODULE -->


    <!-- Carousel Showcase -->
    <section id="image-carousel"
             class="splide background-effect-std"
             aria-label="Beautiful Images"
             data-splide='{"arrows":"false","pagination":"false","pauseOnHover":"false"}'>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="{{ imagesPath }}CRM-Carousel/01 - Panel IDLE (RIGHT SIDE).webp"
                         alt="Portal Association"
                         width="auto"
                         height="437" />
                </li>
                <li class="splide__slide">
                    <img src="{{ imagesPath }}CRM-Carousel/02 - Panel TW Associated (RIGHT SIDE).webp"
                         alt="Teamwork Project Association"
                         width="auto"
                         height="437" />
                </li>
                <li class="splide__slide">
                    <img src="{{ imagesPath }}CRM-Carousel/03 - Panel PROJECT VIEW (RIGHT SIDE).webp"
                         alt="View projects and create tasks"
                         width="auto"
                         height="437" />
                </li>
                <li class="splide__slide">
                    <img src="{{ imagesPath }}CRM-Carousel/04 - CRM Pipeline.webp"
                         alt="Send HubSpot CRM object to Teamwork"
                         width="auto"
                         height="437" />
                </li>
                <li class="splide__slide">
                    <img src="{{ imagesPath }}CRM-Carousel/05 - CRM Pipeline.webp"
                         alt="Project creation from HubSpot CRM object"
                         width="auto"
                         height="437" />
                </li>
            </ul>
        </div>
    </section>

    <!-- Case Study -->
    {# <section class="case--area">
        {% for caseStudy in case_studies_content %}
            {% if caseStudy.title == caseStudyIdentifierS %}{{ caseStudy.html | safe }}{% endif %}
        {% endfor %}
    </section> #}

    <section class="case--area">
        <div class="text--zone">
            <h2 class="readable--area">Streamlining Services Interface</h2>
            <p class="readable--area">
                In the digital landscape of Remotish, we identified a significant issue - a disjointed experience between HubSpot CRM and Teamwork. This friction created inefficiencies and a reliance on manual labor for tracking and creating tasks, a problem that was mirrored in our clients' experiences.
            </p>
            <h3 class="readable--area">The Research &amp; Discovery</h3>
            <p class="readable--area">
                Armed with this insight, I dove into comprehensive research. I sought to understand the pain points and desires of those on the front lines of HubSpot CRM, who craved an integration solution that was simple, direct, and efficient.
            </p>
            <p class="readable--area">
                The research painted a clear picture: Users wanted a seamless area within the contacts, deals, and companies panel that displayed automated actions between the current contact and Teamwork. They also expressed the need for readily accessible Teamwork details like the number of projects, open tasks, project budgets, overdue tasks, and task ownership.
            </p>
            <h3 class="readable--area">The Design</h3>
            <p class="readable--area">
                Based on my findings, I designed HubSpot to Teamwork integration, an integration solution that brought the desired simplicity and directness to the HubSpot CRM - Teamwork connection.
            </p>
            <p class="readable--area">
                The product features a dedicated panel within the CRM interface for automated actions, along with a comprehensive overview of relevant Teamwork details. And yes... the name is simple like that - after researching more about these kind off integrations and apps inside the HubSpot environment and also the app marketplace of Teamwork, I've found that this name attracts the most attention and is the most searched for. SEO rich, baby!
            </p>
            <p class="readable--area">
                Since this micro-saas was expected to be launched with bare minimum features to then iterate and improve, I started the UX research and design process with a simple persona based user flow, a competitive audit and wireframes.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Business Scenario of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Business Scenario.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Competitive audit competitors of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Competitive-Audit.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Competitive audit details part 1 of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Competitive-Audit-Details.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Competitive audit details part 2 of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Competitive Audit Details 2.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Competitive audit details part 3 of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Competitive-Audit-Details-3.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Competitive audit overall of the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Detailed-Competitive-Audit-Report-finale.webp" />
        </div>
        <div class="text--zone">
            <h2 class="readable--area">Expected Results</h2>
            <p class="readable--area">
                If someone didn't have a good experience during a project due to bad management, deadlines and scopes, they will be more likely to have more friction internally and with the client.
            </p>
            <p class="readable--area quote-p-std">
                "You don't want to prepare yourself for these experiences because they can be corrosive to the culture and team in which this individual works."
            </p>
            <p class="readable--area">
                After testing internally with simple APIs, a raw, hardcoded version of the app, we found an awesome opportunity to create a micro-saas with the same functionalities, but with a more robust and scalable approach. This was the initial expectation of the micro-saas:
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Expected results for the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Expected-Results.webp" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                After the expected results were defined, we started to define possible contact points and personas for the micro-saas.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Contact points to announce the micro-saas"
                 loading="lazy"
                 src="{{ imagesPath }}Contact-Points.webp" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                We made an awesome design session with the team to define the personas and their needs. We defined 5 personas, but we focused on 2 of them to start the micro-saas. These were the personas:
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="The first persona, Syncer Emily"
                 loading="lazy"
                 src="{{ imagesPath }}PERSONA-Syncer-Emily.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="The second persona, Owner Carlos"
                 loading="lazy"
                 src="{{ imagesPath }}PERSONA-Owner-Carlos.webp" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                Then I started working on the brand of the micro-saas. I wanted to create a brand that was simple, but that also had a mixed personality between Teamwork, HubSpot and our desire to get a seamlessly integration.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Micro-saas brand presentation"
                 loading="lazy"
                 src="{{ imagesPath }}microsaas-Brand.webp" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                Essentially the brand personalities were defined first after the personas were defined, and then the brand was created. The brand personalities were:
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Micro-saas brand personalities"
                 loading="lazy"
                 src="{{ imagesPath }}Brand Personality pt.1.webp" />
        </div>
        <div class="text--zone"></div>
        <div class="standard-section rounded-img-content">
            <img alt="Micro-saas brand detailed personalities"
                 loading="lazy"
                 src="{{ imagesPath }}Brand Personality pt.2.webp" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                With the brand generally defined in this stage, I started to work on the user flow and wireframes of the micro-saas.
            </p>
            <p class="readable--area">
                The wireframes were created with the help of the team, and we defined the user flow together based on previous internal usage and reseach. All the design was created in Figma using HubSpot design system as the base for the UI, since all the micro-saas runs inside the HubSpot CRM and it needs to be consistent with the rest of the platform.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Main flow of the integration between HubSpot and Teamwork"
                 loading="lazy"
                 src="{{ imagesPath }}00_crm_card_design.jpg" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                The app uses a freemium approach. In the free version we can only view metrics of Teamwork from the HubSpot CRM panel, like a small dashboard. In the paid version, we can create tasks, view matric, associate contacts with projects and more.
            </p>
            <p class="readable--area">
                While our product is technically a HubSpot app, there was no standard or guideline provided for its creation. This presented a unique challenge but also a fantastic opportunity for innovation. Our approach was to follow HubSpot's UI patterns as closely as possible, ensuring that our solution would feel familiar and intuitive to its users.
            </p>
            <p class="readable--area">
                I developed the initial Proof of Concept (PoC) solely using Node.js, leveraging simple HubSpot and Teamwork APIs. This stage was crucial in demonstrating the feasibility of the app, allowing us to explore and handle various behaviors. It was also a critical juncture in making the case for our solution to the broader team.
            </p>
            <p class="readable--area">
                Our developers then took the reins, transforming the PoC into a fully-fledged app using Node.js and React. Their expertise and dedication were instrumental in bringing our vision to life, ensuring that our solution was robust, efficient, and user-friendly.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Company and employees intersection rings."
                 loading="lazy"
                 src="{{ imagesPath }}01_crm_card_design.jpg" />
        </div>
        <div class="text--zone">
            <h3 class="readable--area">The Outcome and Reflections</h3>
            <p class="readable--area">
                HubSpot to Teamwork integration has significantly reduced the friction between HubSpot CRM and Teamwork, streamlining operations and making team collaboration more efficient than ever. We have effectively eliminated manual tracking and task creation, empowering teams to focus on what truly matters - achieving their business goals.
            </p>
            <p class="readable--area">
                Launching this micro-SaaS was an incredibly exciting milestone for me. It was the culmination of rigorous research, innovative design, and stellar development. More than that, it was a tangible testament to the power of empathy and understanding in product design.
            </p>
        </div>
        <div class="standard-section rounded-img-content">
            <img alt="Company and employees intersection rings."
                 loading="lazy"
                 src="{{ imagesPath }}CRM Card Sample.jpg" />
        </div>
        <div class="text--zone">
            <p class="readable--area">
                This project started as a response to internal pain points, but it has grown into a solution that benefits a wider audience. It's a powerful reminder of the impact we can have when we listen, empathize, and innovate. The micro-saas is more than just a tool - it's proof of what's possible when we understand our users and put their needs at the heart of what we do.
            </p>
            <h2 class="readable--area">Closing Thoughts</h2>
            <p class="readable--area">
                My experience with this micro-saas serves as a reminder that understanding user needs and pain points is key to designing effective digital solutions. By actively listening to our users, we were able to build a product that solves a real problem and significantly enhances their daily work lives. The app will be launched in the HubSpot Marketplace and is currently being used in Remotish's portal, and by Remotish Agency Team for our internal workflows.
            </p>
        </div>
    </section>


    {# Carousel #}
    <script defer>
        document.addEventListener('DOMContentLoaded', function() {
            new Splide('.splide', {
                type: 'loop',
                gap: 16,
                perPage: 3,
                pauseOnHover: false,
                pagination: false,
                arrows: false,
                lazyLoad: true,
                autoScroll: {
                    speed: 0.5,
                },
                breakpoints: {
                    1290: {
                        perPage: 2,
                        gap: 12,
                    },
                    1024: {
                        perPage: 2,
                        gap: 8,
                    },
                    768: {
                        perPage: 1,
                        gap: 4,
                    },
                },
            }).mount(window.splide.Extensions);
        });
    </script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script>
        // ===== Scroll to Top ==== 
        $(window).scroll(function() {
            if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
                $('#return-to-top').fadeIn(200); // Fade in the arrow
            } else {
                $('#return-to-top').fadeOut(200); // Else fade out the arrow
            }
        });
        $('#return-to-top').click(function() { // When arrow is clicked
            $('body,html').animate({
                scrollTop: 0 // Scroll to top of body
            }, 500);
        });
    </script>

</main>

{% endblock body %}
