<!--
    templateType: blog_article
    isAvailableForNewContent: true
    label: Blog Article
    pageName: {% if current_page_name or caseStudyIdentifierS %}{{ current_page_name }}{{ caseStudyIdentifierS }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "blog-article" %}
{% set isCaseStudy = true %}
{% set internalDirectory = true %}
{% extends "_layouts/base.html" %}
{% from '_partials/global.html' import pagesLanguage, imagesPath, systemPath, localDirectPath %}
{% block title %}

    HubDB: Revolutionizing Data Management in HubSpot CMS

{% endblock title %}
{% block meta %}

    In the realm of digital marketing and web content management, efficient data handling is pivotal.

{% endblock meta %}
{% block body %}
    {% set caseStudyIdentifier = "BlogArticle" %}

    <!-- 1️⃣ Main -->
    <main class="clean-all mobile-handler">

        <!-- 💬 Main Title -->
        <section class="main--title case--area light-blog-area blog">
            <div class="text--zone initial-case center-it center-section blog-holder">
                <div class="blog-article__datetime"> 
                <span class="blog-article__datetime__date">December 9, 2023</span> | <span class="blog-article__author">Nicolas Mendes</span>
                </div>
                <h1 class="main--title__text blog-article_title">HubDB: Revolutionizing Data Management in HubSpot CMS</h1>
                <p class="readable--area">
                    In the realm of digital marketing and web content management, efficient data handling is pivotal. HubSpot's CMS Hub introduces HubDB, a relational database that significantly enhances the way businesses manage and utilize data. This blog will explore what HubDB is, its key benefits, features, and practical applications.
                </p>
                <div class="separator-dec"></div>
            </div>
            <div>
                <img src="{{ imagesPath }}hubdbHowTo.webp"
                     alt="HubSpot CMS pros and cons">
            </div>
        </section>

        <!-- Blog Post -->
        <article class="case--area">
            <div class="text--zone">
                <p class="readable--area">
                    While moving a blog from one CMS to another there can be a risk of losing rankings and traffic. This is the case if you move to a CMS that is not as search engine friendly or if meta titles, metadata and structured data is not brought over, you also run the risk of losing your rankings and traffic which could be detrimental for your business.
                </p>
                <h2 class="readable--area">Understanding HubDB</h2>
                <p class="readable--area">
                    HubDB is a powerful database tool integrated into the HubSpot platform, designed for users who need to store and organize data in a table format, akin to a spreadsheet. Its user-friendly nature means that even non-IT staff can easily access and edit data. HubDB’s tables are accessible through an API or directly in HubSpot page content using HubL, HubSpot’s coding language.
                </p>
                <p class="readable--area">
                    *Note: HubDB is available with the purchase of HubSpot’s CMS Hub at the Professional or Enterprise level, or the Marketing Hub at the Enterprise level.
                </p>
                <h3 class="readable--area">Benefits & Features of HubDB</h3>
                <p class="readable--area">
                    HubDB's key benefit lies in its ability to maintain associations between large data sets. As a relational database, it enables users to define relationships across multiple tables, facilitating dynamic and interconnected content creation.
                </p>
                <p class="readable--area">
                    The standout feature of HubDB is its dynamic page generation capability. Users can create individual and listing pages from a single table, automating what would otherwise be a manual and time-consuming process. This functionality extends to multi-level dynamic pages, linking multiple tables for complex website structures.
                </p>
                <h3 class="readable--area">Practical Applications of HubDB</h3>
                <ul class="readable--area">
                    <li>Team/Career Pages: Easily manage and display individual staff member or job details from a single table, streamlining the creation of detailed and interconnected content structures.</li>
                    <li>Resource Center/Product Listings: Utilize HubDB for categorizing and filtering products or resources, enhancing user navigation and experience on listing pages.</li>
                    <li>Searchable Directories: Implement HubDB as a central database for directories, ensuring efficient data organization and retrieval.</li>
                    <li>Custom Components: Use HubDB for storing data points for interactive website components, such as multi-step forms, aiding in lead generation and user engagement.</li>
                </ul>
            </div>
            <div class="standard-section rounded-img-content">
                <img loading="lazy"
                     src="{{ imagesPath }}hubdbPower.webp"
                     alt="CMS transition strategy">
            </div>
            <div class="text--zone">
                <h2 class="readable--area">Getting Started with HubDB</h2>
                <p class="readable--area">Before diving into HubDB, it’s essential to thoroughly understand your project’s needs. Projects benefiting the most from HubDB typically involve complex data relationships or advanced user interactions. Mapping out these requirements will help determine if HubDB is the right solution.</p>
            </div>
            <div class="standard-section rounded-img-content">
                <img loading="lazy"
                     src="{{ imagesPath }}hubdbConnections.webp"
                     alt="CMS transition strategy">
            </div>
            <div class="text--zone">
                <h2 class="readable--area">Conclusion</h2>
                <p class="readable--area">
                    HubDB stands out as a robust tool within the HubSpot ecosystem, offering unparalleled ease in managing and utilizing data for dynamic web content. Its integration into the HubSpot platform makes it a go-to choice for businesses looking to streamline their data management and enhance their web presence.
                </p>
            </div>
        </article>

        <!-- 💬 Get in Touch Module -->
        {% include "_modules/module__get_in_touch.html" %}

        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script>
            // ===== Scroll to Top ==== 
            $(window).scroll(function() {
                if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
                    $('#return-to-top').fadeIn(200); // Fade in the arrow
                } else {
                    $('#return-to-top').fadeOut(200); // Else fade out the arrow
                }
            });
            $('#return-to-top').click(function() { // When arrow is clicked
                $('body,html').animate({
                    scrollTop: 0 // Scroll to top of body
                }, 500);
            });
        </script>
    </main>

{% endblock body %}
