<!--
    templateType: error_page
    isAvailableForNewContent: true
    label: Password Page
    pageName: {% if current_page_name %}{{ current_page_name }}{% else %}Not needed!{% endif %}
    pageURL: {% if current_page_url %}{{ current_page_url }}{% else %}Not needed!{% endif %}
-->
{# NAV TYPES: "home","internal","none" #}

{% set navType = "internal" %}
{% set internalDirectory = true %}
{% extends "_layouts/base.html" %}
{% block title %}

    Secret Code Needed! | Password

{% endblock title %}
{% block meta %}

    Private content.

{% endblock meta %}
{% block body %}
    {% block require_js %}

        <script src="https://code.jquery.com/jquery-3.6.3.min.js"
                integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
                crossorigin="anonymous"></script>

    {% endblock require_js %}

    <!-- 1️⃣ Main -->
    <main>
        <!-- 💬 Main Title -->
        <section class="main--title center-section extra-space-bottom">
            <h1 class="next-gen--title">
                Secret Code!
            </h1>
            <p class="nextgen--desc">
                Unfortunately this project is private and it needs the code to be viewed.
                Contact me to get the code.
            </p>
            <!-- 6-digit Password fields -->
            <div class="password--container">
                <input type="text"
                       class="password--input index0"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
                <input type="text"
                       class="password--input index1"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
                <input type="text"
                       class="password--input index2"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
                <input type="text"
                       class="password--input index3"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
                <input type="text"
                       class="password--input index4"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
                <input type="text"
                       class="password--input index5"
                       maxlength="1"
                       oninput="this.value = this.value.toUpperCase()" />
            </div>
            <div id="Button--Area-Confirm">
                <button class="password--button hide-it">
                    View project
                </button>
            </div>
        </section>
    </main>
    <!-- ⚙️ Scripts -->
    <script src="{{scriptsPath}}password-engine.js"></script>
    <!-- <script src="{{scriptsPath}}base64js.min.js"></script> -->
    <script src="{{scriptsPath}}passwd.js"></script>
    <!-- onclick="changeCSS('./css/style.css', 0)" | onclick="changeCSS('./css/styleDark.css', 0)" -->

{% endblock body %}
